[2018-02-27 08:58] bebatut opened #6 "Galaxy inside Galaxy"
After clicking on "Try on it on useGalaxy.eu" or on "Test it on useGalaxy.eu" on usegalaxy.eu

![screen shot 2018-02-27 at 09 54 54](https://user-images.githubusercontent.com/1842467/36719142-757473d0-1ba4-11e8-896d-b536a87a8274.png)

[2018-02-27 09:00] bebatut opened #7 "GTN logo with transparent background"
We should maybe use the logo from: https://depot.galaxyproject.org/hub/attachments/images/galaxy-logos/GTNLogoTransHuge.png

[2018-02-27 09:51] #6 closed

[2018-02-27 09:56] #7 closed

[2018-02-27 12:29] bebatut opened #8 "404 for upcoming event page inside Galaxy"
![screen shot 2018-02-27 at 13 28 30](https://user-images.githubusercontent.com/1842467/36728755-2fc376d8-1bc2-11e8-9914-f4ddaff354ff.png)

[2018-02-27 12:52] erasche commented on #8
Fixed on next restart.

[2018-02-27 12:52] #8 closed

[2018-02-27 22:27] mblue9 opened #10 "Add FAQs page or something similar?"
I really like your front page of usegalaxy.eu :smile: and was wondering - what about having a link to an FAQs page or something?

e.g. how would users know that they have to use ftp to get files >2GB (and how to do it)?

I know it must be in the Galaxy documentation somewhere but imho that info is super important (as getting data in is the first step to using Galaxy and a lot of the fastq/BAM file

[2018-02-28 13:30] erasche commented on #10
Whenever you try to upload a file larger than 2GB, it complains and says to use FTP

![auswahl_343](https://user-images.githubusercontent.com/458683/36790028-c16f6278-1c93-11e8-8620-917ba70223c5.png)

Clicking the FTP button mentions you should connect to `ftp://...` with your standard creentials.

![auswahl_344](https://user-images.githubusercontent.com/458683/36790029-c18ae1e2-1c93-11e8-9d5d-3e9

[2018-02-28 13:30] erasche commented on #10
Additionally, if they try and open a browser to the FTP site, https://ftp.usegalaxy.eu/, I've shown an FTP info page which has some documentation.

[2018-03-01 04:44] mblue9 commented on #10
I think this would be good to test out with a few users new to Galaxy. As my feeling is users may still waste time faffing around trying to get their files in (after the initial error they get when they try to upload) but maybe I'm underestimating them :)

[2018-03-01 10:21] erasche commented on #10
Definitely. I think there will be a *huge* leap between "you need to use ftp" and the user being able to successfully download, install, and operate an FTP client. I can't wait until they implement chunked uploads https://github.com/galaxyproject/galaxy/issues/573 and we can kill FTP except for the users who really need it.

I don't think you're underestimating, it would be better if we linked to

[2018-03-02 06:02] mblue9 commented on #10
Cool thanks for the link to that issue!

Yeah I ended up having to make a doc like that for our users 😄 see here:
[BIOIN-HowtoloadfilesintoGalaxyMelbourne-020318-1700-42.pdf](https://github.com/usegalaxy-eu/website/files/1773876/BIOIN-HowtoloadfilesintoGalaxyMelbourne-020318-1700-42.pdf)

[2018-03-02 08:58] erasche commented on #10
How do you link to it? How do users know where to find that PDF?

[2018-03-04 05:36] mblue9 commented on #10
I exported that PDF, it lives in Confluence, the documentation system used (and admin-ed) by our group... which is now about to be trialled much wider by other groups in the hospital! :smile: 🎉

[2018-03-04 05:40] mblue9 commented on #10
In case you're interested to know, our Galaxy front page has a "Knowledge Base" button that links to info we will provide for users in Confluence, see below

<img width="891" alt="screen shot 2018-03-04 at 4 32 12 pm" src="https://user-images.githubusercontent.com/5591821/36942600-68fed878-1fca-11e8-9006-c680fc2a17d9.png">

[2018-03-04 07:18] bgruening commented on #10
I think we need a FAQ site for all the small things people wonder will ask. Begins with Quota, might end citations/funding, CSA ... I hope most of the Q are links to the Galaxy hub in the end. Or the entire FAQ can be stored on the hub as part of our usegalaxy.eu hub site ...

[2018-03-05 02:08] mblue9 commented on #10
Yeah, I think you can't avoid the need for some sort of FAQ. That "Knowledge Base" button above on our front page leads to this page:
<img width="983" alt="screen shot 2018-03-05 at 12 51 38 pm" src="https://user-images.githubusercontent.com/5591821/36954336-56e7f6c8-2075-11e8-8708-8df1e44bf3bd.png">

which is currently completely empty (I need to add info in there asap!) I'm also hoping most will

[2018-03-08 14:38] erasche opened #22 "Credit authors on posts"
maybe something automatic on posts with https://github.com/ivantsepp/jekyll-git_metadata ?

[2018-04-18 13:05] mtekman opened #43 "UI bug starring outputs in workflows"
Un-toggling a starred output of a tool also untoggles (or appears to untoggle) other starred outputs if you mouseover and then mouseout on them

Steps to reproduce error:
 - Create a workflow
 - Add a random tool with multiple outputs (e.g. featureCounts
 - Click on one of the outputs to star it
 - Click on another of the outputs to star it
 - Click on one of these starred outputs to unstar it
 -

[2018-04-19 11:45] erasche commented on #43
@mtekman for future reference galaxy issues you can file under the private usegalaxy-eu/issues project.

[2018-04-19 15:00] erasche commented on #43
Can you re-test this for me @mtekman

[2018-04-19 15:45] erasche opened #44 "Need a post highlighting new features"
- change tools in WF
- duplicate tool
- ... ?

users don't read release notes and release notes don't highlight the features with nice gifs like we will.

[2018-04-19 16:26] erasche commented on #43
Perfect. I'll file against galaxyproject/galaxy and close this then.

[2018-04-19 16:26] #43 closed

[2018-04-24 13:04] joachimwolff opened #48 "Public data policy"
We need information on our web server what is our public data policy.

[2018-04-25 09:06] #48 closed

[2018-05-03 11:22] bebatut opened #59 "Galaxy flyer on homepage"
Add the Galaxy Flyer itself or the link to it for downloading very visible on the homepage

[2018-06-09 09:13] bgruening opened #74 "Include WaaS as a Service of the Freiburg Galaxy team"
WaaS or Workshop as a Service is a ELIXIR term and @bebatut had the idea to label TIaaS + GTN (+ trainers) = WaaS. I like this and we should add this to the website.

[2018-06-11 11:35] erasche opened #75 "Support showing news/events under multiple partner sites"
@shiltemann raised this great idea:

[2018-06-13 07:28] erasche opened #76 "Where should in-galaxy links in news posts go?"
- `target="_top"`, loads the galaxy page in the current window, navigating away from the news item (browser back button will return them to their previous location)
- `target="_blank"`, opens a new tab

[2018-06-13 11:21] bgruening commented on #76
I guess default can be _blank. Tool links and so on should probably open in the same window.

[2018-06-19 11:15] bgruening commented on #59
Into the carousel? Learn more ... with links to projects and the flyer?

[2018-06-19 11:16] bgruening commented on #75
I think this is addressed?
Will close it.

[2018-06-19 11:17] bgruening opened #78 "To good to not have it somewhere on our frontpage :)"
[code]

[2018-06-19 11:17] bgruening commented on #76
Related, we should add this by default as well: https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/

[2018-06-19 11:29] erasche commented on #75
Not yet afraid. Hopefully we will fix within next two weeks since it would be quite nice to have.

[2018-06-22 05:41] bebatut opened #79 "No more contact information on the home page of usegalaxy.eu"
Bottom of the home page:

![screen shot 2018-06-22 at 07 39 30](https://user-images.githubusercontent.com/1842467/41759610-98000a86-75ef-11e8-82d0-9cd1061e0178.png)

[2018-06-22 05:51] erasche commented on #79
Thanks for filing, will fix asap.

[2018-06-27 09:21] #79 closed

[2018-06-27 09:21] erasche commented on #78
maybe make a quotes webhook?

[2018-06-27 09:37] erasche commented on #22
Used the metadata plugin elsewhere and it's not the greatest thing. Maybe it's fine for the posts to all be "by usegalaxy.eu" and a bit more anonymous.

[2018-06-27 09:37] #22 closed

[2018-06-27 13:51] erasche opened #80 "Add usegalaxy-eu/lobby (or galaxyproject/lobby) to main page?"
We could embed the chat widget thing for either one of those. maybe nice for users to find a place to ask questions?

[2018-06-27 15:20] bgruening commented on #80
:100: but rather the one that is on the Galaxy hub and deprecated the build-in one?

[2018-06-27 15:45] #80 closed

[2018-06-27 17:08] bebatut opened #81 "Need to fix the carrousel"
Many things are looking strange on the carrousel:

![screen shot 2018-06-27 at 19 01 31](https://user-images.githubusercontent.com/1842467/41988776-753a642c-7a3d-11e8-8ac8-e5cb395f2ca4.png)
![screen shot 2018-06-27 at 19 01 42](https://user-images.githubusercontent.com/1842467/41988777-755f6d12-7a3d-11e8-8691-c7acdafe77c0.png)
![screen shot 2018-06-27 at 19 01 48](https://user-images.githubusercon

[2018-06-27 18:51] erasche commented on #81
Oh, you're viewing it on a smaller than normal window. That's.. unfortunate. Ok, I'll do this tomorrow.

But some are not easy to fix, data retention / acknowledgements, there are so many words. there is no hope to fix that issue I think.

[2018-06-29 11:06] #81 closed

[2018-08-12 16:11] #78 closed

[2018-08-12 16:12] bgruening opened #96 "Quotes webhook"
Display great scientific and critical quotes randomly after tool submission.

[2018-08-12 16:13] bgruening commented on #44
is still relevant?

[2018-08-12 16:14] bgruening commented on #76
Can we go for _blank by default?

[2018-08-12 16:16] bgruening opened #97 "list of subdomains on the main homepage"
It would be nice to have a list of usegalaxy.eu subdomains somewhere.
I guess in the carousel would be nice. Better ideas are welcome :)

[2018-08-13 08:27] erasche commented on #76
After some discussion with will here, https://github.com/galaxyproject/training-material/issues/912 I'm leaning towards agreeing with him. maybe this isn't so attractive.

[2018-08-13 09:00] #97 closed

[2018-08-13 09:15] erasche commented on #44
Yeah. Never wrote the user-facing release notes for 18.05.

[2018-08-13 12:30] bgruening commented on #76
Not sure, _blank is what people expect and many site offer it. If we are concerned about the security, than we should use the linked workarounds above, no?

[2018-08-13 13:43] erasche commented on #76
The theory is that we should teach people the many ways they can open in a new tab (ctrl + click, right click + menu). If we use `_blank`, then we force everyone to open in a new tab, no matter what. If we do not use `_blank`, then people can do as they like.

Teaching people is hard, but I've started to lean in favor of that, rather than forcing this behavior on everyone when it isn't desirable f

[2018-08-13 13:48] bgruening commented on #76
The practice is that people complain that our website is broken. I'm not sure our mission should be to teach people how to use a web browser - especially not if we know that our users are not IT-affine.

[2018-09-20 21:21] bgruening opened #106 "some missing posts"
If anyone wants to generate some posts please help ...

- [x] GCB presentations about Bioconda, Clip-Explorer, RNA-workbench with @Florian-H-Lab, @eggzilla
- [x] GalaxyProteomics Workshop in Prag
- [x] new cloud with more power, de.NBI sponsored
- [x] HiC workshop in Luzern 9-10.10
- [x] Biohackathon in paris
- [x] european Galaxy days in November in Freiburg (https://galaxyproject.org/events/2018

[2018-11-07 10:10] bgruening opened #128 "add link to our building to the https://galaxyproject.eu/freiburg/people page"

[2018-11-15 09:11] bgruening opened #130 "blogpst about https://StreetScienceCommunity.github.io"
We need to announce https://StreetScienceCommunity.github.io as soon as the website as some content.

[2018-11-15 09:28] bgruening opened #131 "blogpost about workflow testing"
As soon as this turns green regularly: https://github.com/usegalaxy-eu/workflow-testing

[2018-11-20 10:40] bgruening opened #133 "EGD post"
We should add a summary post with links to slides as well ... and then send this one over the ELIXIR Galaxy ML. There some really nice slides and we should share this with the European Galaxy community in ELIXIR.

[2018-11-23 09:56] bgruening opened #137 "TIaaS page updates"
This page https://galaxyproject.eu/tiaas should include a nice image and a big fat link to the training material.

[2018-11-30 10:47] bgruening commented on #137
It would be also nice if we could have a more detailed post about TIaaS. I would only find that one atm: https://github.com/usegalaxy-eu/website/blob/master/_posts/2018-07-03-tiaas.md

If everyone feels comfortable to advertise this Service more broadly such a post could be linked in twitter, linkedin etc ...

@erxleben something you would like to start?

[2018-11-30 10:49] erasche commented on #137
Oh, that was wip and shouldn't've been pushed.

Advertising, can you give me a week to get everything together first?

[2018-11-30 11:06] bgruening commented on #137
Sure, see `If everyone feels comfortable to` :)

[2019-01-26 09:07] bgruening commented on #133
Done in https://galaxyproject.eu/posts/2018/11/26/european-galaxy-days/

[2019-01-26 09:07] #133 closed

[2019-01-26 09:08] bgruening commented on #131
https://galaxyproject.eu/posts/2018/11/21/workflow-testing/

[2019-01-26 09:08] #131 closed

[2019-02-08 00:40] mblue9 opened #184 "Consolidate rna.usegalaxy.eu Training sections?"
Hi,

Just noticed that it looks like there are 2 training sections on the rna.usegalaxy.eu page, this new one with the matrix

<img width="738" alt="screen shot 2019-02-08 at 11 22 21 am" src="https://user-images.githubusercontent.com/5591821/52451914-0e353400-2b95-11e9-8603-b9a9412bd236.png">

and then an older one further below

<img width="745" alt="screen shot 2019-02-08 at 11 22 34 am" src="h

[2019-02-08 08:15] bgruening commented on #184
Makes sense to me. @pavanvidem?

[2019-02-11 09:46] pavanvidem commented on #184
Sure, I thought that too. I will merge them. Thanks, @mblue9  for the suggestion.

[2019-02-12 04:13] jraysajulga opened #189 "Adjusting tab names to reflect current usegalaxy branch"
Can we get tab names to show the name of the usegalaxy branch?

All flavors of _usegalaxy.eu_ seem to show "Galaxy | Europe". This can get troublesome when you have multiple branches up. For example, when I have rna.usegalaxy.eu and proteomics.usegalaxy.eu on separate tabs within the same browser, I want to be able to distinguish between the two without opening them ("RNA | Galaxy | Europe" and "P

[2019-02-12 08:23] erasche commented on #189
It's unfortunately not easy to do. It would definitely help, but when I setup our fancy subdomains, I did not find a way to accomplish this.

It must be done in CSS due to how the subdomains are actually set up, if anyone comments on this issue with some CSS to properly prefix "galaxy | europe", then we can definitely apply it.

[2019-02-13 17:04] bgruening opened #191 "paper post for https://doi.org/10.1093/bioinformatics/btz107"
https://doi.org/10.1093/bioinformatics/btz107

free access link:
https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btz107/5317160?guestAccessKey=a8c842e6-6bd0-4dc1-a4b5-8cf8281a9a5b

[2019-02-19 15:15] pavanvidem commented on #184
@mblue9 this was done https://github.com/usegalaxy-eu/website/pull/190

[2019-02-19 15:20] #184 closed

[2019-02-21 08:02] bgruening opened #195 "pre-print post for our website"
https://www.biorxiv.org/content/10.1101/550335v1

ping @mmiladi

[2019-02-21 10:41] mmiladi commented on #195
Good idea :+1: After my Prüfung ;)

[2019-02-25 19:44] bgruening opened #197 "paper post for https://doi.org/10.1016/j.exer.2019.01.006"
"Impact of angiogenic activation and inhibition on miRNA profiles of human retinal endothelial cells"

https://doi.org/10.1016/j.exer.2019.01.006

[2019-02-26 17:40] bgruening opened #198 "msconvert is working on usegalaxy.eu"
We need a blog post about this, a list of supported formats and so on.

https://usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu/repos/galaxyp/msconvert/msconvert/3.0.19052.0

supported fileformats: "mzml,mzxml,mz5,mgf,ms2,thermo.raw,raw,wiff,wiff.tar,agilentbrukeryep.d.tar,agilentmasshunter.d.tar,brukerbaf.d.tar,brukertdf.d.tar,watersmasslynx.raw.tar"

Thanks to Matt Chambers!

blocked by 19.01 a

[2019-03-05 10:11] bgruening opened #205 "19.01 update news item"
* [ ] Include a link to a how-to for how to clear the browser cache.

[2019-03-05 11:37] erasche commented on #205
This should not be necessary, it has never been in previous upgrades despite JS and CSS changes.

Caching directives are only applied to CSS+JS files, and these are cache-busted by Galaxy with a timestamp set to start time. If the upgrade had completed successfully I do not believe you would have seen the partial state that you did.

If we need to make this notice, to clear cache, then this is a b

[2019-03-05 12:34] gmauro opened #206 "Roscoff event page not showing"
The remote event page does not appear in the middle frame

[2019-03-05 12:54] bebatut commented on #206
I am not sure to understand what you mean.

The event appears for me:

![screenshot 2019-03-05 at 13 53 59](https://user-images.githubusercontent.com/1842467/53806770-30309500-3f4e-11e9-93f8-b9b58c167802.png)

[2019-03-05 13:11] gmauro commented on #206
from https://usegalaxy.eu/, if you click on the event link , you will see a blank page in the middle frame

[2019-03-05 13:18] bebatut commented on #206
ah ok. sorry I misunderstood

[2019-03-05 13:20] erasche commented on #206
I'll fix it

[2019-03-05 13:21] #206 closed

[2019-03-08 11:06] erasche opened #209 "Top menu disappears under certain size"
![image](https://user-images.githubusercontent.com/458683/54025334-1f706100-4192-11e9-8a12-8e2f18299da3.png)
![image](https://user-images.githubusercontent.com/458683/54025339-239c7e80-4192-11e9-89bb-4764bed94339.png)

[2019-03-11 11:13] erasche opened #211 "bugs"
- [x] fix duplicated icons in event list
- [x] edit on gh button
- [x] https://usegalaxy-eu.github.io/event/2018-12-07-Announcement-Galaxy-course/ looks bad in event list

[2019-03-14 07:26] erasche commented on #10
- we now have a quota/storage/policy-y box in our carousel
- the "Help → Galaxy Help" now links to the new help.galaxyproject.org which we will use for FAQ / problems. We can pin messages there and we can pin one for dealing with common issues

[2019-03-14 07:26] #10 closed

[2019-03-14 07:29] erasche commented on #44
Discussion in https://github.com/galaxyproject/galaxy/issues/7425

[2019-03-14 07:29] #44 closed

[2019-03-14 09:44] #128 closed

[2019-03-14 09:44] #211 closed

[2019-03-14 09:45] erasche commented on #205
https://github.com/galaxyproject/galaxy/pull/7527

[2019-03-14 09:45] erasche commented on #205
Oops, wrong issue.

[2019-03-14 12:47] erasche commented on #137
has picture / link to materials / link to workflow testing now

[2019-03-14 12:47] #137 closed

[2019-03-14 16:53] bgruening opened #212 "paper post for https://www.tandfonline.com/doi/full/10.1080/15476286.2017.1373239?scroll=top&needAccess=true&"

[2019-03-14 19:44] #212 closed

[2019-03-15 15:30] bgruening commented on #191
@stephanflemming @simonbray this issue is for you both. It needs to contain many informations and a link to https://cheminformatics.usegalaxy.eu :)

[2019-03-15 15:36] stephanflemming commented on #197
Already done http://127.0.0.1:4000/posts/2019/02/11/Walz/

[2019-03-15 15:36] #197 closed

[2019-03-15 15:38] bgruening commented on #197
That link will not work ;)

[2019-03-15 15:39] simonbray commented on #191
I'll do this.

[2019-03-15 16:54] #191 closed

[2019-03-16 10:51] bgruening opened #217 "missing posts"
- [x] https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5838928/
- [x] https://nature.com/articles/s41598-019-40883-1

I also found this here: https://scholar.google.com/scholar?hl=de&as_sdt=0%2C5&q=acknowledgments+%22Freiburg+Galaxy+Team%22&btnG= if this is interesting for Rolf at some point.

[2019-03-17 13:46] bgruening opened #220 "tool upgrade post is running in a permission problem"
xref: https://build.galaxyproject.eu/job/usegalaxy-eu/job/install-tools/82/console

[2019-03-18 07:33] erasche commented on #220
Yep, still working on the configuration side, had not expected it to work yet. I'll ping you when it's functional

[2019-03-19 18:00] erasche commented on #205
9915b7f98e65418ee9c308559b29995b4b67fe95

[2019-03-19 18:00] #205 closed

[2019-03-23 10:26] bgruening commented on #217
* https://www.nature.com/articles/s41598-019-40883-1

[2019-03-24 10:38] bgruening commented on #198
Ok, this is ready and functioning.

https://usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu/repos/galaxyp/msconvert/msconvert/3.0.19052.0

[2019-03-24 12:12] #198 closed

[2019-03-27 11:18] bgruening opened #223 "external event links do not open"
You need to open them in a new tab, which most of the people are not doing ... so they all get a white page at best.

[2019-03-27 12:58] erasche commented on #223
This is either due to:

- http links
- the linked site setting X-Frame-Options to something like sameorigin, preventing us from embedding the content.

E.g. galaxyproject.org works, elixir and roscoff don't.

[2019-05-02 12:06] bgruening opened #238 "BioDaten project"
A post for ...

[code]

would be great. Link here: https://mwk.baden-wuerttemberg.de/de/service/presse/pressemitteilung/pid/vier-science-data-centers-in-baden-wuerttemberg/

[2019-05-10 08:24] erxleben commented on #195
done

[2019-06-17 08:26] erasche opened #266 "Deleted files are not removed from compiled version"
e.g. /services/index.html lived way past when it was updated and someone had this version bookmarked.

[2019-07-21 20:17] bgruening commented on #195
Merci!

[2019-07-21 20:17] #195 closed

[2019-07-21 20:18] bgruening commented on #217
* Post about the maxquant wrapper and the msconvert wrapper, both are pretty important for the masspec community. msconvert wrapper had a poster at gcc

[2019-08-02 14:49] stephanflemming commented on #130
There is already a news post "BeerDEcoded: unofficial kickoff" (November 30, 2018) I guess this can be closed.

[2019-08-02 14:49] #130 closed

[2019-08-14 10:49] erxleben commented on #238
will do it

[2019-08-15 10:50] #238 closed

[2019-08-15 10:50] erxleben commented on #238
is online now

[2019-08-15 10:54] #217 closed

[2019-08-15 10:54] erxleben commented on #217
done

[2019-08-15 11:16] erxleben commented on #106
all done

[2019-08-15 11:16] #106 closed

[2019-09-28 10:31] bgruening opened #322 "post about table_compute tool"
Would be nice to write a little bit about the table compute tool. Examples can be used from the tool help.

[2019-09-28 10:56] bgruening commented on #322
start is here: https://github.com/usegalaxy-eu/website/pull/323

[2019-10-18 04:08] pvanheus opened #329 "Galaxy interface takes long (~ 2 minutes) to load on poor connection"
My connection here in Khartoum has 10% packet loss when its doing well. A result is that the Galaxy interface takes long to load - here is a timing diagram:

![image](https://user-images.githubusercontent.com/4154788/67030738-5b987680-f110-11e9-96a7-810b108d7421.png)

Total load time is approximately 2 minutes in this example. It looks like there are points where it pauses - e.g. some of the webho

[2019-10-21 15:28] wm75 opened #331 "Remove debug output from gops_intersect"
@bgruening the `gops_intersect` tool is working again, but you added `env && which python &&` as output to the tool's command line for debugging.
This can (and should) be removed now.

[2019-10-21 20:27] bgruening commented on #331
Done. Thanks for the catch!

[2019-10-21 20:27] #331 closed

[2019-10-27 17:59] bgruening opened #332 "new plant genome installed"
118 transcriptoms from plants

* gtf
* sequence
* kallisto index
* salmon index

## From:

 Actinidia_chinensis_FEI_Lab_v1.0
 Amborella_trichopoda_Amborella_V1.0
 Amborella_trichopoda_JGI_v1.0
 Ananas_comosus_JGI_v3.0
 Apostasia_shenzhenica_v1.0
 Arabidopsis_lyrata_JGI_v1.0
 Arabidopsis_lyrata_JGI_v2.1
 Arabidopsis_thaliana_COL-0_Araport11
 Arabidopsis_thaliana_COL-0_TAIR10
 Arachis_ipaensis_Peanu

[2019-11-08 10:51] bgruening opened #342 "paper for news section"
https://f1000research.com/articles/8-1877/v1 --> training paper

done

[2019-11-11 12:37] pvanheus commented on #329
This is verified as also a problem from KNUST (Kwame Nkrumah University of Science and Technology) in Kumasi, Ghana.

This Firefox performance analysis shows that the page cache does not help much.

![image](https://user-images.githubusercontent.com/4154788/68587408-b9aa4680-048f-11ea-960e-6023a927343f.png)

[2019-11-11 12:38] pvanheus commented on #329
More info on the page loading from Ghana:

![image](https://user-images.githubusercontent.com/4154788/68587850-c4191000-0490-11ea-8a6e-62133e85b20a.png)

![image](https://user-images.githubusercontent.com/4154788/68587893-d8f5a380-0490-11ea-9328-4d04210489ee.png)

[2019-11-11 12:40] pvanheus commented on #329
From a user perspective the influences the initial page load time and also it influences whenever the page is reloaded e.g.

1) Going back to the Analyse data screen from the Multi-workflow screen
2) Loading the workflow editor and then going to execute a workflow
3) Navigating from the Data Library view to the Analyse data screen after importing data

[2019-11-11 12:43] pvanheus commented on #329
Network performance from KNUST:

to Google

![image](https://user-images.githubusercontent.com/4154788/68588166-7d77e580-0491-11ea-8d61-a74e4381f4ce.png)

to usegalaxy.eu

![image](https://user-images.githubusercontent.com/4154788/68588199-8ff21f00-0491-11ea-8e23-dd6621c970f4.png)

[2019-11-12 08:44] gmauro commented on #329
@pvanheus can you please try https://lite.usegalaxy.eu and let me know if it mitigates the issue?

[2019-11-13 07:24] gmauro commented on #329
I have enabled data compression on https://usegalaxy.eu.
Can you make a new try and let me know if is it better?

[2019-11-21 16:36] pvanheus commented on #329
Thanks @gmauro I've been using the https://lite.usegalaxy.eu/ interface from various sites with poor networks and it seems to work a lot better. I was able to load the front page and workflow editor earlier at a site with reported download speed of 0.2 Mbit/s and 10% packet loss. I don't have a really good way to test in an objective manner though.

[2019-11-21 23:04] bgruening commented on #329
@pvanheus can you also now test usegalaxy.eu again. it should also be much faster.

[2019-12-09 17:57] gmauro commented on #329
Should be fixed.

[2019-12-09 17:57] #329 closed

[2019-12-10 21:25] bgruening commented on #342
* Miladi,M. et al. (2019) GraphClust2: Annotation and discovery of structured RNAs with scalable and accessible integrative clustering. GigaScience, 8.

* Föll,M.C. et al. (2019) Accessible and reproducible mass spectrometry imaging data analysis in Galaxy. GigaScience, 8.

[2019-12-10 21:29] #322 closed

[2019-12-10 21:29] #220 closed

[2019-12-30 10:08] bgruening opened #356 "PGP news"
We need a blog post on our side to announce the availability of the PGP dataset.

* describe what PGP is
* link to  https://pgpukblog.wordpress.com/2019/12/18/reaching-for-the-stars-pgp-uk-multi-omics-data-now-also-available-on-galaxy-europe/
* mention training material for those data
* MIRACUM link?

@wm75 can you have a look here. And if available link this into Confluence?
Thanks.

[2020-01-02 12:45] bgruening commented on #332
@erxleben can we make a blog post out of it?

[2020-01-04 17:52] bgruening opened #357 "Introduce the concept of Gamification on the bees example"
* we introduced the general webhook concept a few years back into galaxy
* this has enabled custom modifications to Galaxy UI without changing Galaxy source code and make maintenance of those changes easier. It is a plugin concept for Galaxy UI.
* this is what is powering the much loved XKCD or PhD comics for example - but this was just the first step ...
* Today we are proud to introduce you an e

[2020-01-04 20:04] yvanlebras commented on #357
Wouhahou! Nice. MAybe I would propose "to annotate existing datasets classifying hoverflies into male and female so this information can be used in further data treatment for example to train future machine learning models" instead of "to train their machine learning model to classify bees into male and female"

I have to write something for the motivation part and come back to you

[2020-01-04 21:06] bgruening commented on #357
My list above was just ideas that could be in such an announcement. If you have time to generate a first pass, awesome.

[2020-01-04 21:23] bgruening commented on #357
This link should also be included I guess :)
https://usegalaxy.eu/gapars-experiment/

[2020-01-04 23:12] beatrizserrano commented on #357
I have some minor suggestions:

* Is the submit button really needed? Only picking the option could be enough to submit automatically.
* I would replace "Cannot See" by "Not sure" because sometimes one can see but can't decide.
* Mark the borders of the 5 options or perhaps just align the labels: at first I thought that there were only 3 options, I ignored completely "Likely male" and "Likely fema

[2020-01-04 23:55] yvanlebras commented on #357
Thank you ! Here is a first draft for a EU news https://github.com/galaxyecology/communication/blob/master/2020-01-galaxyeu-news/index.md

[2020-01-07 11:09] #357 closed

[2020-01-09 07:51] bgruening commented on #342
* Survey of metaproteomics software tools for functional microbiome analysis. (2020-01-09)

[2020-01-16 09:35] erxleben commented on #356
@wm75

**Human omics data from the Personal Genome Project now available on usegalaxy.eu!**

**What is PGP-UK?**
The Personal Genome Project UK (PGP-UK) is one of few projects world-wide to recruit all participants under open consent which enables PGP-UK to provide all patient data under open access. Currently PGP-UK provides open genome, trait, and health data.

**PGP data accessible on Galaxy Eu

[2020-01-16 09:38] wm75 commented on #356
Thank you @erxleben!

[2020-01-16 12:50] wm75 commented on #356
#376

[2020-01-16 18:09] bgruening commented on #356
Thanks.

[2020-01-16 18:09] #356 closed

[2020-01-20 20:15] bgruening commented on #342
* http://www.laborjournal-archiv.de/epaper/LJ_19_12/50/index.html

[2020-02-07 14:11] erxleben commented on #342
done

[2020-02-11 20:16] #342 closed

[2020-02-11 20:17] bgruening commented on #332
Danke @erxleben

[2020-02-11 20:17] #332 closed

[2020-02-11 20:18] bgruening opened #406 "blog post with latest branding material"
* facts sheet
* flyer
* logos

[2020-02-26 11:08] stephanflemming opened #412 "News: should labels be clickable"
https://galaxyproject.eu/freiburg/news

Maybe it's a useful feature, that a click on a label should only show respective news items.

[2020-03-28 14:53] bgruening commented on #406
and this one: https://link.springer.com/article/10.1007/s13205-020-2136-3

ping @stephanflemming

[2020-04-22 14:13] bgruening opened #431 "new paper"
https://academic.oup.com/gigascience/article/9/4/giaa025/5813097

@subinamehta can you maybe write a blog post for that?

[2020-04-22 14:30] subinamehta commented on #431
Sure!

[2020-04-22 15:13] subinamehta commented on #431
Is there a particular format for this?

[2020-04-22 15:30] bgruening commented on #431
Sure, every file here is one post: https://github.com/usegalaxy-eu/website/tree/master/_posts

[2020-04-22 15:45] subinamehta commented on #431
Thanks

[2020-04-23 15:42] subinamehta commented on #431
I sent a pull request...please excuse for all the mistakes..Let me know if
I need to make any changes!

On Wed, Apr 22, 2020 at 11:30 AM Björn Grüning <notifications@github.com>
wrote:

--

*Subina Mehta*
Bioinformatics Researcher
Dept. of Biochemistry, Molecular Biology and Biophysics
University of Minnesota
7-166 MCB
420 Washington Ave SE
Minneapolis, MN 55455

Lab:     612-624-0381
Phone: 612-5

[2020-04-23 17:57] #431 closed

[2020-04-23 17:57] bgruening opened #433 "new papers"
* [x] https://search.proquest.com/openview/a7a9da995e1f637da5f78fed6a7d7a1f/1
* [x] https://academic.oup.com/gbe/advance-article/doi/10.1093/gbe/evaa106/5842140
* [x] https://pubmed.ncbi.nlm.nih.gov/32745185/
* [x] https://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1008643

[2020-05-23 17:13] bgruening opened #442 "documen website building"
* e.g. https://github.com/usegalaxy-eu/website/pull/441
* make options ...
* howto add subdomains
* usage of font-awesome
* howto write blog posts

[2020-07-04 16:19] bgruening opened #460 "add post about DataPlant"
Similar to ...

* https://www.pr.uni-freiburg.de/pm-en/press-releases-2020/a-better-understanding-of-plant-life?set_language=en

[2020-07-24 10:24] bgruening opened #468 "populate our recommended ack"
It seems not very obvious how people should cite/ack the European Galaxy project.

[2020-07-24 14:54] bgruening opened #469 "replace carusel"
The carousel seems not really discoverable, see also https://github.com/usegalaxy-eu/website/issues/468.

This issue is to collect idea what we can use and implement this.

[2020-07-24 14:55] hexylena commented on #469
I've also heard complaints of "What's tiaas" from people teaching on EU... who just missed it.

[2020-07-24 14:58] beatrizserrano commented on #469
Maybe we can keep it for content not really relevant?

[2020-07-24 14:58] hexylena commented on #469
Do something like this: make them large buttons and avoid content, move the content to other pages. E.g. downtime notifications / gdpr notice / etc go under a "policy" button. "Need training?" moves to another page with a button and clear call to action

![image](https://user-images.githubusercontent.com/458683/88404944-de044400-cdce-11ea-9d7c-13f206279989.png)

[2020-07-24 22:10] #468 closed

[2020-08-04 05:48] egonw opened #477 "plz cite the new JCheminform paper"
... on https://github.com/usegalaxy-eu/website/blob/master/index-cheminformatics.md, where https://jcheminf.biomedcentral.com/articles/10.1186/s13321-020-00442-7 can now be cited.

[2020-08-04 06:54] simonbray commented on #477
Oops, thanks for pointing that out @egonw!

[2020-08-04 07:07] egonw commented on #477
Thanks!

[2020-08-04 07:37] #477 closed

[2020-08-29 18:17] #433 closed

[2020-09-06 09:17] #406 closed

[2020-10-14 20:43] simonbray commented on #412
fixed by @OlegZharkov

[2020-10-14 21:23] beatrizserrano commented on #412
True, it's here https://github.com/usegalaxy-eu/website/pull/512. I think that we can close it, thanks for the heads up @simonbray 😄

[2020-10-14 21:23] #412 closed

[2020-10-22 11:50] bgruening opened #530 "post for EOSC newsletter"
https://mailchi.mp/eosc-life/newsletter-2020oct

[2020-10-22 16:56] #530 closed

[2020-11-02 13:41] mtekman opened #539 "Calendar Events subscribable feed (iCal or other)"
I see the ability to add individual events to a calendar (ics)

![Screenshot_2020-11-02 Galaxy Community Conference (GCC) 2016](https://user-images.githubusercontent.com/20641402/97873453-eea24f80-1d17-11eb-9332-73b60e179981.png)

But is there a way to get a general iCal for all events?

[2021-03-17 23:20] tnabtaf opened #609 "make install missing jekyll-scholar and jekyll-twitter-plugin?"
Hi All,

I don't understand Jekyll, but it does offer helpful error messages.  After running `make install`, running `make run` tells me that these two gems are missing:

[code]

Running

`gem install --user-install *gem name*`

for each then allows the build to work.  Does `make install` need to be updated?  Or do I just need to be tougher?

Thanks, Dave C

[2021-03-21 23:19] bgruening commented on #609
I hope my latest commit has fixed that and both deps are now installed with conda as well.

[2021-03-21 23:19] #609 closed

[2021-04-07 18:13] tnabtaf opened #629 "Adjust sort on events page"
Right now the events page on galaxyproject.eu sorts things in reverse chronological order, which means that events happening soon occur partway down the page, rather than at the top of the page.

I suggest breaking the events list into 2 parts.

* Top part, in chronological order, listing upcoming and current events
* Bottom part, in reverse chronological order, listing past events

This would put

[2021-04-07 21:20] bgruening commented on #629
We can add a clear separation between the past-events and current-soon-to-happen events (`</hr>`?). Both lists can then be sorted in different ways.

The tricky part is to make sure that the table on the front page is still rendered in a meaningful way.

@OlegZharkov could you please look into this?

[2021-04-08 10:40] OlegZharkov commented on #629
just to clarify a bit, do you mean this one?
![image](https://user-images.githubusercontent.com/15801412/114012787-72d0a400-986f-11eb-8463-61841967a64a.png)

not the table on the front page?
![image](https://user-images.githubusercontent.com/15801412/114013156-e7a3de00-986f-11eb-8c53-f6cd2277d08f.png)

[2021-04-08 17:46] tnabtaf commented on #629
@OlegZharkov Thanks for the question.  I meant the first one, European Galaxy Events, but I think the second one on the front page should also be reordered.

Also, if you think this is suitable as a paper-cut issue, we could label it as such, and then ask if @NickSto wants to take it on.  It might be good for Nick to mess with the EU site (or he may not be interested).

[2021-04-09 18:25] #629 closed

[2021-04-28 09:23] beatrizserrano opened #649 "Paper "Novel insights into the electrophysiology of murine cardiac macrophages: relevance of voltage-gated potassium channels""
https://academic.oup.com/cardiovascres/advance-article/doi/10.1093/cvr/cvab126/6212648

[2021-04-28 09:25] beatrizserrano opened #650 "Outcome of the Plants workshop"
Ideas:
- Numbers: registration, attendance in Slack, YouTube views...
- Conclusions from the survey
- Reminder that the material stays online

[2021-04-28 09:42] beatrizserrano opened #651 "GTN update"
Highlight the new GTN feeds and recent enhancements: feeds, FAQs...

[2021-04-28 16:19] beatrizserrano opened #652 "Talk "Women in Science""

[2021-04-29 07:11] bebatut commented on #652
Do you mean adding an event for the website?

[2021-04-29 07:21] beatrizserrano commented on #652
I was thinking more about a post afterwards describing the event, its purpose, how it went, your experience... but an event sounds good to me too :)

[2021-05-04 13:08] beatrizserrano opened #656 "Automatic image optimization"
Recently discussed with @tnabtaf: It would be nice to have image compression every time we upload images to this repo and the Hub. I don't know much about it but looks like that's possible using GitHub actions...

https://css-tricks.com/optimize-images-with-a-github-action/

Do you think that this can be a thing for our Code Day on Friday?

Thanks!

[2021-05-04 13:14] #650 closed

[2021-05-04 13:25] beatrizserrano commented on #539
Not sure if I understand well, but there is a Galaxy events calendar, is that what you meant @mtekman?

[2021-05-04 13:50] bgruening commented on #656
Yes, please! I do it once in a while manually.

[2021-05-04 13:59] bgruening commented on #539
And you have an RSS feed for events and posts ...

[2021-05-04 14:53] beatrizserrano commented on #539
It's a public Google calendar, I've shared it with you

[2021-05-04 14:55] #539 closed

[2021-05-04 14:55] beatrizserrano commented on #539
Maybe we can rephrase the issue: Is there a way to sync the events in the website and that Google calendar? (also discussed with @tnabtaf at some point)

[2021-05-04 17:20] bgruening commented on #539
@mtekman https://galaxyproject.org/events/ the link in the second sentence.

[2021-05-05 09:35] beatrizserrano opened #659 "Create a page for the sponsors"
The page could contain all the information related to the funders:
  - Logos
  - Grant numbers
  - What else?

Some other ideas/questions:

- Should it be specific for each subsite? Or a general one integrating all funders from all sites?

- Classification by scope: Regional (BW), National (Germany), European.

Any other ideas?

[2021-05-05 11:53] bgruening commented on #659
* could be specific to subsites and then merged in the main site, we do this for other things as well
* no scope classification needed imho
* logos yes
* grant numbers I'm not sure, we might not have that for all, so it would need to be optional or just on hover?

[2021-05-05 16:29] tnabtaf commented on #659
Bea and Björn, I quite like this idea, and I agree with the aggregation / distribution suggestions, and the hover for Grant numbers too.  We have been trying to figure this out for the community hub as well.

[2021-05-07 07:57] davelopez commented on #656
I'll take a stab at it today :)

[2021-05-07 09:40] #656 closed

[2021-05-07 12:29] OlegZharkov commented on #223
is it still relevant? Can you give me an example please?

[2021-05-07 14:14] OlegZharkov commented on #189
That's really hard task, can you please point me to the line where you define it @hexylena?

[2021-05-07 17:54] hexylena commented on #189
all the css is here https://github.com/usegalaxy-eu/infrastructure-playbook/blob/2dd14d5aae03e3b732e5425447c0faa5d539ebd2/group_vars/custom-sites.yml#L3

[2021-05-10 14:34] OlegZharkov commented on #651
hey, what kind of highlight do you have in mind?

[2021-05-10 14:36] OlegZharkov commented on #223
I don't see an issue here, I'll close it for now. Please feel free to re-open this, if you think otherwise, I'll then do my best to fix it.

[2021-05-10 14:36] #223 closed

[2021-05-10 14:46] OlegZharkov commented on #59
do you have a link?

[2021-05-10 15:06] OlegZharkov commented on #651
aaaah, you just wanted to create a post about it? Well, if there's nothing has to be implemented, I'm sorry for the noise ;)

[2021-05-14 15:51] #649 closed

[2021-05-24 20:47] bgruening opened #686 "we need an alumni page"
and maybe something lik "friends" or "external collegues" ...

[2021-05-25 12:08] beatrizserrano opened #687 "New paper "Robust and efficient single-cell Hi-C clustering with approximate k-nearest neighbor graphs""
A post with a short intro and abstract, format similar to https://galaxyproject.eu/news?tag=paper

[2021-05-25 12:09] beatrizserrano commented on #651
@bebatut would you like to do this one?

[2021-05-25 12:10] beatrizserrano opened #688 "Feedback from users that requested quota increase"

[2021-05-25 13:59] bebatut commented on #651
I could do that

[2021-06-02 11:05] bgruening commented on #687
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1009014 and a new one from us.

[2021-06-07 07:44] bgruening commented on #687
ping @joachimwolff

[2021-06-07 08:50] bgruening opened #697 "new paper "Galaxy-{ML}: An accessible, reproducible, and scalable machine learning toolkit for biomedicine""

[2021-06-07 10:19] anuprulez commented on #697
https://github.com/usegalaxy-eu/website/pull/698 ping @bgruening @beatrizserrano

[2021-06-07 10:45] #697 closed

[2021-06-14 14:37] bgruening commented on #652
Video here: https://www.youtube.com/watch?v=Il84WUPVaxc

[2021-06-15 06:51] bebatut commented on #652
the video is for the BVCN conference. I need also to write a post about it....

[2021-06-15 06:52] bebatut opened #708 "Talk at BVCN conference"
Video: https://www.youtube.com/watch?v=Il84WUPVaxc
Slides: http://bit.ly/bebatut-bvcn-2021
Q&A
Tutorials & Example: https://github.com/biovcnet/biovcnet.github.io/wiki/BVCN-Conference-Tutorials-and-Examples

[2021-06-15 07:01] bebatut opened #709 "OLS-3 Galaxy related projects & OLS-4 announcement"

[2021-06-19 08:41] beatrizserrano commented on #688
I will try to create a post every week

[2021-06-19 08:49] beatrizserrano opened #714 "Sync Google calendar and events page?"
We have the [GalaxyEvents Google Calendar](https://calendar.google.com/calendar/u/0/embed?src=mq93blfvdoosh5unpmivu4kh1c@group.calendar.google.com) that has to be manually synchronised with the events page.

Would it be possible to create an event automatically when we add it to a particular Google calendar? I think that this would be super helpful for @tnabtaf and me :)

[2021-06-19 19:42] tnabtaf commented on #714
@beatrizserrano I would absolutely welcome this, but I am also in favor of doing it the other way too, or instead.  And whatever we do itwill be impacted by @nickSto's Hub2 work.

[2021-06-19 23:56] NickSto commented on #714
This indeed sounds like a great idea and I'm sure I could incorporate it into Hub2. Looks like someone's [already made](https://github.com/jammeryhq/gridsome-source-google-calendar) a Gridsome plugin to pull Google Calendar data. And that might include a helpful starting point for implementing it here as well.

[2021-06-28 14:56] #709 closed

[2021-07-01 14:28] #652 closed

[2021-07-01 16:19] #708 closed

[2021-07-02 08:45] martin-raden opened #728 "missing entry in bibtex file"
https://github.com/usegalaxy-eu/website/blob/13dbe37ca1cd9fe74781429f9396ef1026b5e556/_bibliography/freiburg.bib#L85

[2021-07-02 08:48] martin-raden opened #729 "duplicated entry in bib.file"
https://github.com/usegalaxy-eu/website/blob/13dbe37ca1cd9fe74781429f9396ef1026b5e556/_bibliography/freiburg.bib#L19

copy of first entry above

[2021-07-02 13:55] bgruening commented on #728
Done.

[2021-07-02 13:55] #728 closed

[2021-07-02 13:57] bgruening commented on #729
Thanks for the catch, should be online in a few minutes: https://galaxyproject.eu/freiburg/publications

[2021-07-02 13:57] #729 closed

[2021-07-05 06:44] bebatut opened #732 "Future news visible in Galaxy webhook"
Seen today (05.07.21) in Galaxy webhook. See the first 2 news:

![image](https://user-images.githubusercontent.com/1842467/124428592-324ccd80-dd6d-11eb-9e2a-58562c023caa.png)

[2021-07-05 07:23] beatrizserrano commented on #732
yes, talked about it with @bgruening recently but couldn't reproduce it, thanks!

[2021-07-06 16:25] OlegZharkov commented on #732
what is the problem here? Are we supposed to hide them?

[2021-07-07 13:41] hexylena opened #734 "materials links are broken in covid event"
https://galaxyproject.eu/event/2021-06-21-sars-cov-2-data-analysis-monitoring-training/

[2021-07-07 13:42] beatrizserrano commented on #734
they are just not linked yet :)

[2021-07-07 13:47] hexylena commented on #734
ah that makes sense :) they looked clickable and I wanted to click them :P

[2021-07-07 13:47] #734 closed

[2021-07-12 12:00] hexylena opened #736 "stray br"
![image](https://user-images.githubusercontent.com/458683/125284207-76197700-e319-11eb-9ca0-1b614c00dc95.png)

[2021-07-12 12:00] hexylena commented on #736
on homepage

[2021-07-12 19:23] bgruening commented on #736
Thanks for reporting! Fixed!

[2021-07-12 19:23] #736 closed

[2021-07-15 15:39] #687 closed

[2021-07-25 10:30] bgruening commented on #651
I think we should take the Atom/RSS feed and create a GH action that creates posts out of it. RSS should give us already the date/title and a small blurb that we need. Then we could link the post out to GTN.

[2021-07-26 08:09] hexylena commented on #651
+1 to the atom/rss feed :)

[code]

a script could definitely do this and create stub posts for each of these. (If you write that script, the GTN wants it!)

[2021-07-31 14:13] bgruening commented on #651
proposal PR here: https://github.com/usegalaxy-eu/website/pull/748

[2021-07-31 21:19] #651 closed

[2021-08-08 21:32] bgruening opened #760 "ELIXIR annual report"
blog post? https://elixir-europe.org/sites/default/files/documents/annual-report-2020.pdf

[2021-08-14 13:03] beatrizserrano opened #763 "Report about the workshop "SARS-CoV-2 Data Analysis and Monitoring with Galaxy""
Brainstorming to write a report about the workshop similar to [this one](https://galaxyproject.eu/posts/2021/05/03/plant-summary/).

Some ideas:
- Live Q&A was new in the format and we had 30 attendees on average
- Worldmap with 750+ registrations
![worldmap_covid_workshop](https://user-images.githubusercontent.com/11300231/129447120-0da062ae-6df7-4d8d-92f3-cdb7b0be16d7.png)
- Analysis of the feed

[2021-08-23 13:47] beatrizserrano opened #769 "Post about the new Galaxy Community website"
https://elixir-europe.org/communities/galaxy

[2021-08-23 13:48] beatrizserrano opened #770 "Post promoting TIaaS with infographics"

[2021-08-23 13:49] beatrizserrano opened #771 "Post about de.NBI article"
https://www.denbi.de/news/1279-for-better-patient-care-cooperation-between-miracum-and-the-german-network-for-bioinformatics-infrastructure-de-nbi

[2021-08-24 08:46] #688 closed

[2021-08-24 12:00] #770 closed

[2021-08-24 12:00] #769 closed

[2021-09-11 17:37] #763 closed

[2021-09-11 18:57] #760 closed

[2021-09-14 21:25] #771 closed

[2021-11-02 08:37] gmauro opened #825 "ITs not include in TIaaS"
We should specify in the TIaaS page that, ITs will run in the regular queue in any case

[2021-11-15 08:58] beatrizserrano opened #834 "Post about BH2021"
Similar to:
- https://galaxyproject.eu/posts/2020/11/16/biohackathon/
- https://galaxyproject.eu/posts/2018/11/23/biohackathon/

With info from:
- https://biohackathon-europe.org/projects.html

Projects: 4, 10, 33, 34, 37

[2021-11-15 09:00] beatrizserrano opened #835 "Post about the certification"
Describe a bit the ISO, the process...

[2021-11-15 09:04] beatrizserrano opened #836 "Post about our experience with the Outreachy program"
- Brief description about the projects
- Stats: number of people interested, applicants, ...
- Outcomes of the contribution period: issues, PRs...
- Next steps: when it starts...

[2021-11-15 09:08] beatrizserrano opened #837 "Post about the COVID paper"
We didn't highlight [this paper](https://www.nature.com/articles/s41587-021-01069-1) and it was a big effort from our team, should we create a post?

[2021-11-15 09:10] beatrizserrano opened #838 "Post about the ELIXIR staff exchange program"
Pietro is visiting us for a couple of months, we can have a post describing his project with us?

[2021-11-15 09:24] beatrizserrano opened #839 "Post about Galaxy Help"
Overview with stats and plots that @gallardoalba showed me :)

[2021-11-15 09:31] wm75 commented on #837
:+1: Going to work on it later this week.

[2021-11-15 09:36] beatrizserrano commented on #835
@gmauro @bgruening are there any docs that I could take info from?

[2021-11-15 10:04] gallardoalba commented on #839
I'll work on it this afternoon.

[2021-11-23 09:31] beatrizserrano opened #841 "usegalaxy.eu reached 40,000 registered users"

[2021-11-26 09:39] #839 closed

[2022-01-19 11:07] bgruening commented on #837
and now there is already this one:

* https://www.biorxiv.org/content/10.1101/2022.01.14.476382v1.full.pdf

[2022-01-19 11:10] gallardoalba commented on #841
I'll write it tomorrow.

[2022-01-19 13:48] gmauro commented on #841
Now, should be `exceeded` :)

[2022-01-19 14:53] gallardoalba commented on #841
Could you provide me some data about the number of users in the last 5 years in order to create a plot @gmauro?

[2022-01-19 15:14] gmauro commented on #841
Sure!

[2022-01-22 07:33] #841 closed

[2022-01-25 08:21] bgruening opened #874 "paper posts"
* https://doi.org/10.1093/jxb/erab416

[2022-01-28 12:47] bgruening commented on #874
doi: 10.1371/journal.pone.0260222
Impact of high platelet turnover on the platelet transcriptome: Results from platelet RNA-sequencing in patients with sepsis

[2022-02-01 22:33] bgruening commented on #835
https://www.pr.uni-freiburg.de/pm-en/press-releases-2022/university-of-freiburg2019s-it-security-management-certified-by-tuv-sud?set_language=en

[2022-02-15 18:49] bgruening opened #885 "workflow.community post"
Dear Members of the WCI Steering Committee,

We have been working hard on the Workflows Community Initiative (WCI) website: https://workflows.community/

Although we are still finalizing the latest features of the website, we would like to ask you for contributions. Specifically,

  - Members: feel free to share the website URL with close collaborators. We also have a members list page in which th

[2022-02-16 10:08] erxleben opened #886 "Alumni Freiburg Galaxy Team"
Joachim Wolff
Oleg Zharkov
Mehmet Tekman
Stephan Flemming
Alireza Khanteymoori
Clemens Blank
Torsten Houwaart
?

Master/Bachelor thesis students?
Guest scientists?

[2022-02-16 12:06] bgruening commented on #874
10.1093/gigascience/giac005

[2022-02-16 12:19] #835 closed

[2022-02-16 12:20] bgruening opened #887 "random posts"
* https://azure.microsoft.com/en-us/blog/genomic-analysis-on-galaxy-using-azure-cyclecloud/

[2022-02-17 20:45] bgruening commented on #874
https://www.sciencedirect.com/science/article/pii/S109727652101025X

[2022-02-21 12:58] #874 closed

[2022-02-21 14:49] #885 closed

[2022-02-21 14:53] #887 closed

[2022-02-21 14:54] #837 closed

[2022-02-21 15:41] #834 closed

[2022-02-22 14:16] #838 closed

[2022-02-24 10:44] bgruening opened #903 "blog post about the ML Videos"
https://gallantries.github.io/video-library/modules/machine-learning

@anuprulez is that a good idea? Do you wanna do that?

[2022-02-24 10:54] anuprulez commented on #903
@bgruening honestly, I have no idea about it. Is it a permanent thing, setting up videos of various ML topics? or is it just for the Smörgåsbord training event? I am lacking some context here on what is expected to be done. thanks!

[2022-02-24 17:03] bgruening commented on #903
its a permanent thing, a page with all ML video content ... people can bookmark that page etc ...

[2022-02-24 17:12] anuprulez commented on #903
Thanks, just now had a chat with Helena. Would write a blog post and recognise Kaivan, Fotis, other people as well

[2022-02-24 17:15] bgruening commented on #903
Cool, thanks!

[2022-02-24 18:25] anuprulez commented on #903
https://github.com/usegalaxy-eu/website/pull/904

[2022-02-28 19:26] bebatut opened #908 "Post about the parper "Gut microbiota drives age-related oxidative stress and mitochondrial damage in microglia via the metabolite N6-carboxymethyllysine""
Online on March, 3.
DOI: 10.1038/s41593-022-01027-3.
URL: https://www.nature.com/articles/s41593-022-01027-3

To do:
- [x] Add post
- [x] Add to bibtex

[2022-02-28 19:30] anuprulez commented on #908
URL: https://www.nature.com/articles/s41593-022-01027-3 seems to be broken

[2022-02-28 19:32] pavanvidem commented on #908
Maybe not yet online?

[2022-02-28 19:33] anuprulez commented on #908
ah, could be, thanks :)

[2022-03-01 10:42] bebatut commented on #908
Yes not online yet.
I will assign this issue to me as I participated in the paper

[2022-03-01 19:35] #903 closed

[2022-03-01 19:35] bgruening commented on #903
Thanks Anup!

[2022-03-07 09:20] #908 closed

[2022-04-10 15:35] bgruening opened #932 "add blog posts"
* https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8946750/

[2022-04-28 11:46] bgruening commented on #932
https://direct.mit.edu/dint/article/4/2/358/110662/Galaxy-A-Decade-of-Realising-CWFR-Concepts

[2022-04-28 11:49] bgruening commented on #932
https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkac247/6572001

[2022-05-07 21:11] bgruening commented on #932
* the new upload via Tus.io
* blog post about the new release 22.01

[2022-06-09 07:53] hexylena opened #986 "wrong link for see calendar"
![image](https://user-images.githubusercontent.com/458683/172794742-08404a9b-8f77-4d30-8ff3-edda2226942e.png)

[2022-06-10 14:21] hexylena opened #987 "List of subdomains is too long :)"
![image](https://user-images.githubusercontent.com/458683/173086214-ba868b1a-96d2-4504-8499-0b6deb8e5817.png)

it's a great success! but now some are cut off.

[2022-06-10 14:24] beatrizserrano commented on #987
this will hopefully disappear soon, I am working on the migration to the Hub :)

[2022-06-10 17:43] bgruening opened #988 "ELIXIR AHM summary"
It would be nice if we can add a blog post with all the things that we have done and link the content to our slides, posters etc ...

@beatrizserrano @anuprulez @EngyNasr @bebatut

@EngyNasr maybe you can make a start?

[2022-06-13 07:34] hexylena commented on #987
Nice!

[2022-06-17 14:20] bgruening opened #991 "wolfgangs talk at the ELIXIR cancer data focused group"
slides: https://docs.google.com/presentation/d/19qI07amoXMX5BPRuAGw5Qu-8K6mVJHZs8QfgE-5Ev5w/edit#slide=id.g1264da354db_0_109

focused group: https://docs.google.com/document/d/1r_RZQYgKZWD8I_XHD1XN3Bi885AXrszM5UBUF72Jio0/edit#

[2022-06-17 14:50] anuprulez commented on #988
Can we use this doc to collect everyone's contribution: https://docs.google.com/document/d/1Q2EcfWF-pOhJwktCuleoIgY65kJamJktLZ-XOxbBQnk/edit?usp=sharing?

[2022-06-21 15:56] EngyNasr commented on #988
https://github.com/usegalaxy-eu/website/pull/993

[2022-07-31 21:07] bgruening commented on #988
Can we close this one?

[2022-07-31 21:08] bgruening opened #1018 "post about OpenAPI"
More or less introducing usegalaxy.eu/api/docs with a bit of backgroud acknoledging FastAPI, pydantic, Starlette ...

[2022-07-31 21:10] bgruening opened #1019 "bots everywhere - how we update packages, tools and Galaxy instances"
A blog post about this image.

![grafik](https://user-images.githubusercontent.com/469983/182045431-fd0b8509-9a92-4af7-9f93-55a1e06338f3.png)

[2022-07-31 21:16] bgruening opened #1020 "Galaxy Admin training"
The past event, should be listed and maybe labelled as ESG ... first Admin pretraining ...

https://docs.google.com/document/d/13oLItEvLdK6v3z8pTt8HNajBZAtBTqxp8Y_OqGMPXr0/edit#heading=h.q1wipsslvbko

maybe something for Oana as well.

[2022-08-01 08:59] #988 closed

[2022-08-01 09:04] beatrizserrano opened #1023 "Galaxy in RDMkit"
Once [this PR](https://github.com/elixir-europe/rdmkit/pull/961) gets merged.

[2022-08-05 21:05] #1018 closed

[2022-08-19 16:59] beatrizserrano opened #1035 "Sci collab agreement between EOSCs"

[2022-08-19 17:00] beatrizserrano opened #1036 "Add post for paper"
Amir published this: https://www.sciencedirect.com/science/article/pii/S1567134822001150?via%3Dihub

[2022-08-19 17:00] beatrizserrano commented on #1036
oh and also this, but it's not open: https://www.sciencedirect.com/science/article/pii/S1567134822001150?via%3Dihub

[2022-09-02 09:58] erxleben commented on #1036
is it not the same? @beatrizserrano

[2022-09-04 09:51] bgruening commented on #1023
URL is https://rdmkit.elixir-europe.org/galaxy_assembly

I liked the graphics from the poster a lot, maybe we can include it in the blog post.

[2022-09-05 13:07] bgruening opened #1044 "The big idea: should we get rid of the scientific paper?"
Blog post about: https://www.theguardian.com/books/2022/apr/11/the-big-idea-should-we-get-rid-of-the-scientific-paper

[2022-09-05 13:12] bgruening opened #1045 "blog post about the new DFG rules to cite software repos"
https://www.dfg.de/en/research_funding/announcements_proposals/2022/info_wissenschaft_22_61/index.html

[2022-09-06 07:22] bgruening opened #1047 "Development and operation of the federated de.NBI Cloud"
There is a brochure and we should write a blog post about it https://www.denbi.de/images/Downloads/deNBI_Cloud_Brochure_web.pdf

[2022-09-06 09:59] beatrizserrano commented on #1036
yes, sorry, it's the same! I meant this: https://www.eurekaselect.com/article/123662

[2022-09-06 10:01] beatrizserrano commented on #987
I'll close this, since the full list is here: https://galaxyproject.org/eu/subdomains/
Thank you @hexylena :)

[2022-09-06 10:01] #987 closed

[2022-09-06 10:02] beatrizserrano commented on #686
xref https://github.com/usegalaxy-eu/website/issues/886

[2022-09-06 10:04] beatrizserrano commented on #714
Since Dannon already started with this for the Hub and the EU content will be moved there, maybe we can close this?

[2022-09-07 19:59] bgruening commented on #1036
this could be: https://github.com/usegalaxy-eu/website/pull/1050/files

[2022-09-15 20:03] NickSto opened #1053 "Redirect to galaxyproject.org/eu/"
The galaxyproject.org [Global Hub](https://nstoler.com/img/posters/2022-GCC.png) project is nearly ready for launch. The galaxyproject.eu [homepage](https://galaxyproject.org/eu/), its [news](https://galaxyproject.org/eu/news/) and [events](https://galaxyproject.org/eu/events/) feeds, and those of its member sites, are all up and running at .org now. We're still working on migrating old pages and

[2022-09-21 08:25] hexylena commented on #1053
https://github.com/usegalaxy-eu/infrastructure-playbook/blob/master/templates/nginx/galaxyproject.j2 it's all here. Just make a PR with whatever you want to redirect.

[2022-09-21 22:00] NickSto commented on #1053
@hexylena Perfect, thank you. That explains why everything showed galaxyproject.eu being pointed at an independent host.

I made the PR (usegalaxy-eu/infrastructure-playbook#421) and they're pretty simple redirects but my nginx memory is stale so feel free to correct me.

[2022-09-25 10:17] bgruening commented on #1053
Why does this not point to the usegalaxy.org page? I thought this was the idea so that we can start writing posts only in ORG?
Same for events.

| .eu page | 301 redirect to | notice? |
|----------|-----------------|----------------|
| galaxyproject.eu/news | usegalaxy-eu.github.io/eu/news/ | notice |
| galaxyproject.eu/pasteur/news | usegalaxy-eu.github.io/pasteur/news/ | notice |

I guess those

[2022-09-26 05:36] NickSto commented on #1053
@bgruening

[galaxyproject.org/eu/news/](https://galaxyproject.org/eu/news/) currently has the last 3 months of news. [galaxyproject.eu/news](https://galaxyproject.eu/news) has the last 5 years. If we automatically redirect people away from galaxyproject.eu/news, the page becomes inaccessible. Then they won't be able to go back and find any news posts older than 3 months. Adding the notice lets pe

[2022-09-26 09:39] bgruening opened #1061 "write some blog post about our usage of the data library"
Use Pavans graphic for that as well.

![data_library](https://user-images.githubusercontent.com/469983/192244481-1a30990e-8957-4eef-b62b-c8d9bffb7e81.svg)

[2022-09-26 16:30] bgruening opened #1062 "galaxy for synthetic biology"
https://training.galaxyproject.org/training-material/topics/synthetic-biology/

[2022-09-26 20:34] bgruening commented on #1062
https://www.nature.com/articles/s41467-022-32661-x

[2022-10-10 11:44] bgruening opened #1065 "random list of posts that would be nice to write"
* https://coblet2022.bezmialem.edu.tr/order-of-presentations

[2022-10-19 10:39] beatrizserrano commented on #1035
done already and online at: https://galaxyproject.org/news/2022-10-17-eosc-pillar-agreement/

[2022-10-19 10:39] #1035 closed

[2022-10-19 10:39] beatrizserrano commented on #1023
addressed here: https://github.com/galaxyproject/galaxy-hub/pull/1684

[2022-10-19 10:39] #1023 closed

[2022-10-19 10:41] beatrizserrano commented on #1020
I'll remove myself from this one as Oana is taking care

[2022-11-03 08:00] bgruening commented on #1065
![grafik](https://user-images.githubusercontent.com/469983/199671430-ffb85994-199c-44a7-a958-7ef7aad55334.png)

Small update from running Galaxy with celery since 2 weeks. We have are running 3 workers, each of them has processed ~330.000 tasks, so that we just hit 1M tasks. So far everything seems to be very stable.
Only ~40 tasks out 1M failed.
The distribution of tasks looks like that (for one

[2022-11-12 13:02] bgruening commented on #1065
* NFDI4BioImaging https://www.hhu.de/news-einzelansicht/page?tx_news_pi1%5Bnews%5D=37167&cHash=629f9d432a9bfeb1341141829d8490d4

[2022-11-16 08:32] bgruening commented on #1065
* https://ossinsight.io/analyze/galaxyproject/galaxy

[2022-11-17 08:27] bgruening commented on #1065
* blog post about https://eosc-portal.eu/events/eosc-symposium-2022-livestream-available-here

[2022-11-22 10:45] bgruening commented on #1065
* write a post how to get ITs into EU

[2022-11-24 11:23] bgruening commented on #1065
* https://twitter.com/Marisa_Loach/status/1595105516749225984 maybe just copy the tweets to a nice blog post :)